body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #104434;
  width: 350px;
  text-align: center;
}

.login-container h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background: #104434;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-container button:hover {
  background: #104434;
}