<body>
    <header>
        <div class="holder">
            <img src="img/nuevologo25.png" width="200" alt="B&DM Abogados">
            <h1>Estudio Jurídico</h1>
        </div>
    </header>
    <nav>
        <div class="holder">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a class="activo" href="novedades.html">Novedades</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top:50px;">
        <div class="row">
            <p class="text-end">Hola {{persona}}<a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></p>
        </div>
    </div>

    <main class="holder">
       <h3>Novedades</h3>
       <div class="novedades">
        <h4>Título</h4>
        <h5>Subtitulo</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laboriosam voluptate quo dolores iusto cum quos aspernatur, odit repellat quae nemo non quidem minus maiores a pariatur adipisci nobis facere sit amet consectetur adipisicing elit. Corporis laboriosam voluptate quo dolores iusto cum quos aspernatur, odit repellat quae nemo non quidem minus.</p>
        <hr>
        <h4>Título</h4>
        <h5>Subtitulo</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laboriosam voluptate quo odit repellat quae nemo non quidem minus maiores a pariatur adipisci nobis facere.</p>
        <hr>
        <h4>Título</h4>
        <h5>Subtitulo</h5>
        <p>Lorem ipsum dolor sit dolores iusto cum quos aspernatur, amet consectetur adipisicing elit. Corporis laboriosam voluptate quo dolores iusto cum quos aspernatur, odit repellat quae nemo non quidem minus maiores a pariatur adipisci nobis facere.</p>
        <hr>
        <h4>Título</h4>
        <h5>Subtitulo</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laboriosam voluptate quo dolores iusto cum quos aspernatur, odit repellat quae nemo non quidem minus maiores a pariatur adipisci nobis facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis laboriosam voluptate quo dolores iusto cum quos aspernatur.</p>
        <hr>
       </div>

       
    </main>
    <footer>
        <p>Diseñado por Micaela Rapisardi - &copy;2025</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
</body>