/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/home.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.bienvenidos {
    background-color: #849c9c30;
    text-align: justify;
    width: 100%;
    box-sizing: border-box;
}

.bienvenidos p{
    font-size: 15px;
    margin: 15px;
}

h3{
    color: #114434;
    font-weight: 300;
}

.card {
      border-color: #104434;
      transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
    background-color: #10443448; /* un verde claro */
    transform: translateY(-5px); /* levanta un poco la tarjeta */
}

.icono img {
    color: #104434;
    transition: 0.3s ease;
}

.card:hover .icono img {
    filter: none;
    transform: scale(1.1);
}


.columnas{
    display: flex;
    justify-content: space-between;
}


/*.bienvenidos {
    background-color: rgba(193, 243, 193, 0.250);
    text-align: justify;
    width: 100%;
    box-sizing: border-box;
}

.bienvenidos p{
    font-size: 15px;
    margin: 15px;
}

h3{
    color: green;
    font-weight: 300;
}

.icono {
      font-size: 2rem;
}

.card {
      border-color: green;
      transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover{
    background-color: #e6f4ea; /* un verde claro */
    /*transform: translateY(-5px); /* levanta un poco la tarjeta */
/*}
    

.columnas{
    display: flex;
    justify-content: space-between;
} */
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/nosotros.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
h3{
    color:#114434;
    font-weight: 300;
}

.historia{
    font-size: 14px;
    background-color: #849c9c30;
}

.personas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    gap: 20px;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona p{
    color: #666;
    font-size: 12px;
    text-align: justify;
}

.persona h5{
    font-size: 14px;
    margin-top: 5px;
}

.persona h6{
    color: #055339;
    font-size: 13px;
    font-style: italic;

}

.persona img{
    border-radius: 25%;
    max-width: 75%;
    box-shadow: 0 0 5px #2d3630;
}


/*h3{
    color: green;
    font-weight: 300;
}

.historia{
    font-size: 14px;
    background-color: rgba(193, 243, 193, 0.250);
}

.personas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona p{
    color: #666;
    font-size: 12px;
    text-align: justify;
}

.persona h5{
    font-size: 14px;
    margin-top: 5px;
}

.persona h6{
    color: #055339;
    font-size: 13px;
    font-style: italic;

}

.persona img{
    border-radius: 25%;
    max-width: 75%;
    box-shadow: 0 0 5px #2d3630;
}*/
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/galeria.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.galeria{
    display:inline-table;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.galeria img{
    width: 25%;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/novedades.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.novedades h4{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #104434;
}

.novedades h5{
    font-size: 12px;
    font-style: italic;
    color: #658679;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/contacto.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.contacto {
    display: flex;
    gap: 24px;
    margin-top: 2rem;
    flex-wrap: wrap; /* Para que se acomode en pantallas chicas */
}

.contacto > div {
    flex: 1 1 45%;
}

.datos p,
.datos ul li {
    font-size: 14px;
}

.formulario p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.formulario p label {
    min-width: 160px;
    display: flex;
    align-items: center;
}

.formulario p input,
.formulario p textarea {
    width: 100%;
    background: #6e817386;
    border-radius: 3px;
    border: 1px solid rgb(26, 68, 26);
    font-size: 14px;
    padding: 5px 10px;
}

.formulario textarea {
    resize: none;
    height: 200px;
}

.formulario p:nth-child(4) {
    align-items: flex-start;
}

.formulario .acciones {
    justify-content: flex-start;
}

.formulario input[type="submit"] {
    background: #64806c;
    box-shadow: 0 0 10px black;
    color: whitesmoke;
    font-size: 14px;
    padding: 6px 20px;
    width: auto;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.formulario input[type="submit"]:hover {
    background-color: #055339;
}
