/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/galeria.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.galeria{
    display:inline-table;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.galeria img{
    width: 25%;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
}
