/*font-family: "Playfair Display", serif;*/ /*principales
/*font-family: "Montserrat", sans-serif; */ /*secundarios

/*base */
body{
    font-family: "Playfair Display", serif;
    font-size: 16px;
    line-height: 25px; /*alto de barra de nav*/
}

header{
    background-color: #104434;
    padding: 15x 0;
}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 100; /*peso de fuente*/
    font-style: italic;
    display: inline-block; /*en linea con la imagen*/
    position: relative;
    bottom: 1px;
    margin-left: 25px;
}

nav{
    background-color: #104434;
    margin-bottom: 25px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

footer{
    background-color: #104434;
    clear: both;
    color: #bacec6;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    margin-top: 25px;
}

nav ul li a.activo { /*a.activo siempre va junto sin espacio para cuando cambio de lugar la clase */
    background-color: #658679; 
    font-style:normal;
    color: #2d3630;
    font-size: 20px;
}

.holder { /*le doy espacio a la pagina desde el margen*/
    max-width: 1250px;
    margin: 5px auto;
}

/*fin base*/

/*solapa home*/
.bienvenidos {
    background-color: #849c9c30;
    text-align: justify;
     width: 100%;
    /*padding-right: 10px;*/
    box-sizing: border-box;
}

.bienvenidos p{
    font-size: 15px;
    margin: 15px;
}

h3{
    color: #114434;
    font-weight: 300;
}

.card {
      border-color: #104434;
      transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover {
    background-color: #10443448; /* un verde claro */
    transform: translateY(-5px); /* levanta un poco la tarjeta */
}

.icono img {
    color: #104434;
    transition: 0.3s ease;
}

.card:hover .icono img {
    filter: none;
    transform: scale(1.1);
}


.columnas{
    display: flex;
    justify-content: space-between;
}
/*Fin solapa Home*/


/*inicio Nosotros*/

h3{
    color:#114434;
    font-weight: 300;
}

.historia{
    font-size: 14px;
    background-color: #849c9c30;
}

.personas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona p{
    color: #666;
    font-size: 12px;
    text-align: justify;
}

.persona h5{
    font-size: 14px;
    margin-top: 5px;
}

.persona h6{
    color: #055339;
    font-size: 13px;
    font-style: italic;

}

.persona img{
    border-radius: 25%;
    max-width: 75%;
    box-shadow: 0 0 5px #2d3630;
}
/*fin Nosotros*/

/*inicio galeria*/

.galeria{
    display:inline-table;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.galeria img{
    width: 25%;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/*fin galeria*/


/*inicio novedades*/

.novedades h4{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #055339;
}

.novedades h5{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #666;
}

/*fin novedades*/

/* INICIO contacto */
.contacto {
    display: flex;
    gap: 24px;
    margin-top: 2rem;
    flex-wrap: wrap; /* Para que se acomode en pantallas chicas */
}

.contacto > div {
    flex: 1 1 45%;
}

.datos p,
.datos ul li {
    font-size: 14px;
}

.formulario p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.formulario p label {
    min-width: 160px;
    display: flex;
    align-items: center;
}

.formulario p input,
.formulario p textarea {
    width: 100%;
    background: #6e817386;
    border-radius: 3px;
    border: 1px solid rgb(26, 68, 26);
    font-size: 14px;
    padding: 5px 10px;
}

.formulario textarea {
    resize: none;
    height: 200px;
}

.formulario p:nth-child(4) {
    align-items: flex-start;
}

.formulario .acciones {
    justify-content: flex-start;
}

.formulario input[type="submit"] {
    background: #64806c;
    box-shadow: 0 0 10px black;
    color: whitesmoke;
    font-size: 14px;
    padding: 6px 20px;
    width: auto;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.formulario input[type="submit"]:hover {
    background-color: #055339;
}

/* multi pantalla*/
@media (max-width: 768px) {
    .contacto {
        flex-direction: column;
    }

    .contacto > div {
        flex: 1 1 100%;
    }

    .formulario p {
        flex-direction: column;
        align-items: flex-start;
    }

    .formulario p label {
        min-width: 100%;
        margin-bottom: 0.5rem;
    }

    .formulario input[type="submit"] {
        left: 0; 
        margin-top: 1rem;
    }
}