h3{
    color:#114434;
    font-weight: 300;
}

.historia{
    font-size: 14px;
    background-color: #849c9c30;
}

.personas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona p{
    color: #666;
    font-size: 12px;
    text-align: justify;
}

.persona h5{
    font-size: 14px;
    margin-top: 5px;
}

.persona h6{
    color: #055339;
    font-size: 13px;
    font-style: italic;

}

.persona img{
    border-radius: 25%;
    max-width: 75%;
    box-shadow: 0 0 5px #2d3630;
}


/*h3{
    color: green;
    font-weight: 300;
}

.historia{
    font-size: 14px;
    background-color: rgba(193, 243, 193, 0.250);
}

.personas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona p{
    color: #666;
    font-size: 12px;
    text-align: justify;
}

.persona h5{
    font-size: 14px;
    margin-top: 5px;
}

.persona h6{
    color: #055339;
    font-size: 13px;
    font-style: italic;

}

.persona img{
    border-radius: 25%;
    max-width: 75%;
    box-shadow: 0 0 5px #2d3630;
}*/