.novedades h4{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #104434;
}

.novedades h5{
    font-size: 12px;
    font-style: italic;
    color: #658679;
}